apiVersion: v1
kind: Role
metadata:
  name: prometheus-app
  namespace: {{ namespace | string }}
rules:
- apiGroups:
  - ""
  attributeRestrictions: null
  resources:
  - endpoints
  - pods
  - services
  verbs:
  - get
  - list
  - watch
