---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app_name }}
    app-monitoring: scrape-me
  name: {{ app_name }}
  namespace: {{ namespace | string }}
spec:
  ports:
    - name: 8080-tcp
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: {{ app_name }}
    deploymentconfig: {{ app_name }}
